@font-face {
    font-family: '777';
    font-weight: normal;
    font-style: normal;
    src: url('https://github.com/MeronaCarta/tgd/blob/master/123RF_%EB%B3%B5%EC%88%AD%EC%95%84%ED%8B%B4%ED%8A%B8_TTF.eot?raw=true');
         url('https://github.com/MeronaCarta/tgd/blob/master/123RF_%EB%B3%B5%EC%88%AD%EC%95%84%ED%8B%B4%ED%8A%B8_TTF.TTF?raw=true') format('truetype');
}