@font-face {
    font-family: '777';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-JUA.eot');
    src: url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-JUA.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-JUA.woff') format('woff'),
         url('https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM-JUA.svg#BM-JUA') format('svg'),
         url('https://cdn.discordapp.com/attachments/486865518427635712/486865582348828672/123RF__TTF.TTF') format('truetype');
}