@font-face {
    font-family: '777';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.discordapp.com/attachments/486865518427635712/486883407973056542/123RF__TTF.eot');
}